PORT=3001
DATABASE_URL="postgresql://postgres:sql@localhost:5432/postgres"
NAME_SERVER_DB=dicta_database
PASSWORD_DB=sql
PORT_DB=5432
USER_DB=postgres
MP_ACCESS_TOKEN=APP_USR-689366279046049-041021-60e74d3407581473b3672c7982e74103-3327870711
MP_webhook_TOKEN=3ca3bead136892c25b3bf63d042bfb8a04a39d186a115bf27b4c50dc816805f5
FACTUS_USERNAME=sandbox@factus.com.co
FACTUS_PASSWORD=sandbox2024%
FACTUS_CLIENT_ID=a17301b6-7926-41af-b745-3f0ac34b2b19
FACTUS_CLIENT_SECRET=4yOLCRJS0VwyF6ne6WpDVW51jESDsGuzbZHRvDgT
FACTUS_NUMBERING_RANGE_ID=8
FACTUS_ESTABLISHMENT_NAME=CLUB SOCIAL DIGITAL DICTA S.A.S      
FACTUS_ESTABLISHMENT_ADDRESS=Carrera 114F No. 151C -39
FACTUS_ESTABLISHMENT_PHONE=3112010271
FACTUS_MUNICIPALITY_ID=169
FACTUS_ESTABLISHMENT_EMAIL=squevlav@gmail.com

FRONTEND_URL=https://localhost:4200
CARRITO_INTERVALOS_MINUTOS=20,1440,4320
BREVO_API_KEY=BREVO_API_KEY
MAIL_FROM=hola@mundodictariano.com
MAIL_FROM_NAME=Dicta
BREVO_TEMPLATE_CARRITO_ABANDONADO_1=1
BREVO_TEMPLATE_CARRITO_ABANDONADO_2=6
BREVO_TEMPLATE_CARRITO_ABANDONADO_3=7
BREVO_TEMPLATE_CONFIRMACION_PAGO=3
BREVO_LISTA_SIN_COMPRA=2
BREVO_LISTA_COMPRADORES=1